In [1]:
import pandas as pd
import sqlite3
import sqlalchemy
import random
from datetime import timedelta
import numpy as np

In [2]:
reactions = pd.read_csv('sampleReactions.csv', sep="\t")
hashtags = ["#stayhome", "#lockdown", "#lockdown", "#socialdistancing", "#socialdistancing", "#lockdown", "#longcovid", "#freeagain", "#rip", "#unemployed", "#homeschooling", "#homeoffice", "#rip", "#unemployed", "#homeschooling", "#homeoffice", "#workfromhome", "#workfromhome", "#stayhome", "#stayhome", "#vaccination", "#quarantine", "#flattenthecurve", "#stayhome", "#lockdown", "#longcovid","","","","","","","","","","","","","","","",""]
for (i, row) in enumerate(reactions.iterrows()):
    reactions.loc[i, 'comment'] = row[1]['comment'] + " " +random.choice(hashtags)
    
reactions['comment']

0      while most the country was all about Baby Shar...
1                         What happened with Chernobyl?
2      Surprised there wasn’t another Baby Shark spik...
3      Montana being the only state with Far Cry 5 wa...
4      Fortnite lasted longer than George Floydd, BLM...
                             ...
470    I remember these huge ships getting paid to ta...
471    Why does the simulation end up making the patc...
472    Notice the steady stream coming out of China. ...
473    this seems like bullshit... &#x200B; In Januar...
474    What’s brilliant about that is it works like a...
Name: comment, Length: 475, dtype: object

In [3]:
df = pd.read_json("./sampleComments.json")
df['id'] = df.index
df = df.drop(['value'], axis=1)
df['date'] = pd.to_datetime(df['date'], format='%Y/%m/%d')
df['date'] = df['date'].dt.date
df['enddate'] = df['date']
df['createdAt'] = pd.to_datetime('today').normalize()
df['updatedAt'] = pd.to_datetime('today').normalize()

#df.drop(df[df.country != "Germany"].index, inplace=True)

for (i, row) in enumerate(df.iterrows()):
    reaction = reactions.sample()
    df.loc[i, 'exactDate'] = random.choice([True, False])
    df.loc[i, 'comment'] = reaction['comment'].values[0]
    df.loc[i, 'author'] = reaction['author'].values[0]
    if (i % 3) is 0:
        newDate = row[1].date + timedelta(days=random.randint(5,20))
        df.loc[i, 'enddate'] = newDate


df

,date,comment,weight,country,id,enddate,createdAt,updatedAt,exactDate,author
0,2021-01-22,Hey guys why dont we all stop blaming boomers ...,4,Fiji,0,2021-02-05,2021-03-17,2021-03-17,True,EGO224
1,2020-06-11,"Shoulda kept it going, does Obama catch up in ...",4,Lebanon,1,2020-06-11,2021-03-17,2021-03-17,True,Gabernasher
2,2020-08-10,Can we get another chart that outlines the red...,4,Iceland,2,2020-08-10,2021-03-17,2021-03-17,False,jfk_47
3,2020-07-26,Notice the steady stream coming out of China. ...,4,Lesotho,3,2020-08-13,2021-03-17,2021-03-17,False,Tastyfeesh
4,2020-09-08,So the level which has highest ore to block ra...,3,Mongolia,4,2020-09-08,2021-03-17,2021-03-17,False,Berntonio-Sanderas
...,...,...,...,...,...,...,...,...,...,...
49995,2020-11-05,"Until earlier in the year, when I was talking ...",3,El Salvador,49995,2020-11-11,2021-03-17,2021-03-17,False,misterreeves
49996,2020-03-16,pretty sure the lowest rated episode is about ...,4,Latvia,49996,2020-03-16,2021-03-17,2021-03-17,True,giganato
49997,2020-06-29,Great visualization of where the money is goin...,4,Iceland,49997,2020-06-29,2021-03-17,2021-03-17,False,Alan_Krumwiede
49998,2020-10-31,The One with the Invitation' and 'Fly' I sense...,4,Luxembourg,49998,2020-11-14,2021-03-17,2021-03-17,False,RorschachBlyat
49999,2020-12-28,But he has 15 million independent viewers live...,2,Namibia,49999,2020-12-28,2021-03-17,2021-03-17,True,MaceWinDonot

In [4]:
sqlite = sqlite3.connect("../server/coronaMemories.sqlite")
df.to_sql(con=sqlite, index=False, name='memories', if_exists='replace')